[2019-08-08 13:48] chrisguindon opened #1 "Ability to create new teams on Github"

[2019-08-08 13:49] chrisguindon opened #2 "Ability to add teams to repos"

[2019-08-08 13:49] chrisguindon opened #3 "Ability to invite users to specific github teams"

[2019-08-08 13:50] chrisguindon opened #4 "Ability to remove users from specific github teams"

[2019-08-08 13:50] chrisguindon opened #5 "Extended requirements"
- Able to rename teams
- Caching to prevent excessive API load
- Able to create new repos

[2019-08-08 13:52] chrisguindon opened #6 "Github sync tooling - transition to a microservice"
Once an hour it should automatically check the list of committers and teams and make sure everything is correct.

It should also accept single specific requests to add or remove a committer from a team.

This should also run as a separate user from Webmaster(on github).

Data sources:

The Eclipse projects api should be used as a source of truth about projects and their repos.  The committers API

[2019-08-08 13:55] chrisguindon commented on #6
I am recommending that we move from a PHP solution () to Python.

I propose that we leverage PyGitHub library to access the GitHub API v3 and Github Enterprise API v3:
https://github.com/PyGithub/PyGithub

This library will enable us to manage GitHub resources such as repositories, user profiles, and organizations in a Python application.

[2019-08-08 13:57] chrisguindon commented on #6
Basic requirements for version 1:

- #1
- #2
- #3
- #4
- #5

[2019-08-08 14:10] mbarbero commented on #6
Why Python? Who in the team knows Python very well?

Is your recommendation based on the appeal of PyGithub? There are similar libraries in all languages https://developer.github.com/v3/libraries/.

In Java, we even have the Eclipse EGit project providing something very similar to PyGithub (see https://github.com/eclipse/egit-github/tree/master/org.eclipse.egit.github.core). List of supported serv

[2019-08-08 19:02] chrisguindon commented on #6
I believe that choosing python for this project will allow us to complete this task faster since it's an easier language to learn.

We already created a prototype and we are pretty happy with what we were able to achieve in a short amount of time.

We are building a sync script and I believe that a scripting language such as Python is a better choice over Java for this project.

Also, I prefer a l

[2019-08-08 19:24] chrisguindon opened #8 "Define list of required data set for this project"
Let's use this bug to identify all the data sets from Eclipse Foundation (PMI) that we need to accomplish this project.

At a minimum, I believe we need the following data:

1. List of all projects on github
2. list of all committers/contributors for each project on Github
3. List of all Github organization managed by the Eclipse Foundation

[2019-08-08 19:39] chrisguindon commented on #8
https://projects.eclipse.org/api/github

This might not be required since that information is included in https://projects.eclipse.org/api/github

With this said, an official list of organizations would be handy.

It looks like the priority would be to build an endpoint to fetch committers and contributors of an Eclipse project.

[2019-08-09 08:02] mbarbero commented on #6
So the goal is to learn a new language? Better do that on a pet project.

Also, completing a task faster is only part of the equation. This code will eventually needs to be maintained. I don't believe it is wise to implement something in a language that no one in the team master. No one can assess that the code is actually using the best practices of the language and even say that it's correct. It

[2019-08-09 13:11] chrisguindon commented on #6
As discussed with you on Slack, the goal is definitely not to learn a new language.

With this said, I wouldn't be doing my job correctly if I did not consider Java for this project.

@autumnfound Could you implement a proof on concept by implementing the same functionality that you did for PR #7 in Java.

Once that done, we will discuss the pros and cons of both before moving forward with one or

[2019-08-12 14:32] autumnfound commented on #6
I've created 3 different PRs, one using Python, one using Java, and one using Node.js to fix the same issue (#1). Below are some notes on the experience developing using the three languages and toolkits, as well as some potential traps I see.

## Python

- Uses PyGitHub, a community maintained GitHub binding for Python. While this is still very active and under MIT license, interest and support ma

[2019-08-13 08:39] mbarbero commented on #6
+1 for nodejs. Being an official toolkit (and seemingly high-quality) in a team-known language makes it an obvious choice.

Just a note about:

This is at best incorrect. Java "heaviness" is an old fallacy. Same for compiled vs interpreted. This is mostly polemical arguments / matter of tastes and we'd better stay off those when doing technical choices.

[2019-10-23 14:02] akosyakov opened #12 "Set read access to all org repos for all teams"
It could be useful for custom organization, e.g. https://github.com/eclipse-theia

[2019-10-23 14:13] akosyakov opened #13 "allow to create teams via projects.eclipse.org"
Commiters should be able to create teams and add eclipse users.

[2019-10-23 14:18] autumnfound commented on #12
Hey Anton! As we read the org of the projects from the repo URL, this should already be possible for custom GitHub organizations! You would have to set the repository link to the custom organization repo in your project on projects.eclipse.org. This way when we call for GitHub projects, we would receive an entry for Eclipse Theia (as an example). As long as you have Eclipse Webmaster as an admin o

[2019-11-01 17:56] chrisguindon opened #14 "Deploy script on Eclipse Foundation openshift"
@mbarbero Will deploy this script on our openshift infrastructure. The plan is to run this script every  hour.

@autumnfound What is the best way to test this script without using a real access token?

[2019-11-01 18:17] autumnfound commented on #14
Could you elaborate on "real access token"? If you mean one that isn't for the actual org, there is sample data currently hardcoded in until we're ready to go live. If we give @mbarbero access to our test repo, that's where our test data is set to point at. He could then create a token for the test sandbox and run with the test data.

We'll have to put in a PR to enable the real data as right now

[2019-11-01 18:37] chrisguindon commented on #14
I am thinking that for testing purposes, @mbarbero will generate a bogus access token such as "1234" which we will update once we are ready to go live.

The script should fail right away but it will be enough to allow @mbarbero to setup the service on openshift.

After this initial setup, we will want to update the access token with one that as access to our test organization.

If that goes well,

[2019-11-11 19:23] autumnfound commented on #14
Before, the script wouldn't stop with a bad access token provided. I'll be adding functionality in a PR that checks that the current token has the `admin:org` permission set at least before starting. This isn't perfect, as someone without access to the organizations being written to with that scope will still receive issues. However, since we are the only ones running this project, it should be su

[2019-11-21 18:25] chrisguindon commented on #14
I think we are good for this issue!

Everything is setup in openshift! Thanks @mbarbero

[2019-11-21 18:25] #14 closed

[2019-11-21 18:29] chrisguindon commented on #13
@akosyakov, to make sure I correctly understand the request:

The goal here is to allow project committers to create and maintain teams from the PMI.

Next week, we are planning to roll-out the concept of a contributor team  for each project but this request is about extending this feature by allowing committers to create new teams with either read or triage access.

[2019-11-21 18:33] chrisguindon commented on #12
@akosyakov, in order to make sure I remember this request correctly, please confirm that I got the requirements right:

In addition to #13, committers should be able to add multiple teams with triage or read access to a repository.

Basically, we can't assume that there is a 1 to 1 relation between a team and a repository.

[2019-11-22 06:19] akosyakov commented on #13
@chrisguindon yes

[2019-11-22 06:21] akosyakov commented on #12
If a team does not have any access to repo then such team cannot be assigned a  a code owner for example (https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners). I'm not sure whether you want to allow fine grain control for each repo. In our case it would be enough if each team has readonly access to all org repos. And we able to switch access level to tri

[2019-11-22 13:07] chrisguindon commented on #12
We are rolling out a new contributor team next week with read access.

Perhaps,  we should  make sure these new teams are nested under the new contributor team. Nested teams should inherit access from the parent team.

[2019-11-27 19:40] chrisguindon commented on #1
The script successfully created the new *-contributors teams for all projects today!

[2019-11-27 19:40] #1 closed

[2019-11-27 19:41] chrisguindon commented on #2
The script now has the ability to add teams to a repo.

[2019-11-27 19:41] #2 closed

[2019-11-27 19:41] chrisguindon commented on #3
The script will invite users teams.

[2019-11-27 19:41] #3 closed

[2019-11-27 19:44] chrisguindon commented on #5
This was done!

We did create a script that renamed

We do create a cache to avoid making the same api call twice.

We don't have this, I think we should define this better before we implement this.

[2019-11-27 19:44] #5 closed

[2019-11-27 19:44] chrisguindon commented on #6
The script had it first successful run today!

Thanks @autumnfound for your great work on this!

[2019-11-27 19:44] #6 closed

[2019-11-27 19:45] chrisguindon commented on #8
Done!

[2019-11-27 19:45] #8 closed

[2019-12-09 19:27] chrisguindon opened #34 "Audit our current usage of GitHub"
I would like to propose that we audit our usage of Github so that we can make some practical recommendation for moving forward with this service.

- List of outside contributors
-- Why do have them and should we keep them?
-- Eclipse Foundation staff
- List of installed apps and their permission
-- @fredg02 has already started working on this
- Settings and Permissions on an organization level.
--

[2019-12-10 14:33] mbarbero commented on #34
I would add a review of the repositories settings:
* Branch protection rules
* Features (wikis, wiki edit restriction, issues, sponsorships, projects, security alerts, merge button actions)
* webhooks
* Integration (it goes with the orgs apps review) and services (deprecated for quite a while by GH, we may want to remove those)
* Deploy keys

[2019-12-10 16:30] chrisguindon commented on #4
I propose that we fix this issue in two steps:

STEP 1: (priority)
We emulate the functionality of the previous script were we would remove users if we were able to validate their identity. The only change is that we should leverage our github account endpoint on api.eclipse.org to validate accounts.

I believe that we did that to keep our bots account in our committers teams:
https://github.com/E

[2019-12-18 09:19] mbarbero commented on #34
FYI, I've added a section to the CBI wiki entry about what we can provide to projects about the Github bot account.

https://wiki.eclipse.org/CBI#GitHub_and_Bot_Accounts

[2020-01-30 21:37] chrisguindon opened #39 "Ability to remove outside collaborators"
We found a few outside collaborators with write access to some github repositories.

More often than not, these users are not committers on a project. I would like to propose that this sync script take on the responsibility for removing access to these users.

Basically, We must remove all outside collaborators not listed here:
https://api.eclipse.org/bots

[2020-01-31 14:59] chrisguindon commented on #39
Additional clarifications:

We need to remove all users that are not bot at the organization and repository level!

[2020-02-03 14:55] chrisguindon commented on #39
@autumnfound I am thinking that we should keep project leads and set their access role to maintainer.

For now, I don't think we want to actively add PL to a repo but if webmaster manually grant them maintner access, the script should not remove them.

Is this something that we can do with octokit?

[2020-02-03 15:14] autumnfound commented on #39
@chrisguindon In terms of ability to set a user as a maintainer, this is currently possible in the teams API, but isn't supported in the repo API, though they can have that permission set. An alternative is that we add PLs to all teams and set their permission to maintainer if we want to be able to manage this functionality end to end.

If we are looking to just retain repo membership for PLs with

[2020-02-03 16:01] chrisguindon commented on #39
@autumnfound The maintain role would be at the repository level not the team API:
 https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

Maintain: Recommended for project managers who need to manage the repository without access to sensitive or destructive actions

[2020-02-03 16:01] chrisguindon commented on #39
Remember that the focus of this issue is on people that have access outside of a team.

[2020-02-05 16:16] fredg02 opened #41 "Feature Request for GitHub Sync script - Give every project lead the maintainer role"
Context:
GitHub added the "maintain" level/role a while ago (see also https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization).

It gives the user the following additional permissions:
* Edit a repository's description
* Manage topics
* Enable wikis and restrict wiki editors
* Enable project boards
* Configuring pull reques

[2020-02-05 18:50] chrisguindon commented on #41
@fredg02 it's seems that the only controversial permission here is that PL will now have access to "Push to protected branches".

I don't believe that the other permissions have a direct impact to the project source code.

@waynebeaton do you have any concerns here?

[2020-02-05 19:01] autumnfound commented on #41
Currently there is no support in the GitHub API to set users with the `maintain` role on a repository. This is still in beta (or recently out of it) and hasn't hit all endpoints as an option to be set yet. The list of supported endpoints currently does not include the repository endpoint.

https://octokit.github.io/rest.js/#octokit-routes-repos-add-collaborator
https://developer.github.com/v3/repo

[2020-02-05 21:37] chrisguindon commented on #41
Related issue:

- [Expose `triage` and `maintain` permissions #2041](https://github.com/octokit/octokit.net/issues/2041)

I see two topics here:
- Discuss if we should grant maintainer role to our PL
- How should we implement this if we decide to move forward with this initiative?

[2020-02-05 21:42] chrisguindon commented on #41
A solution would be to allow webmaster to manually add users with maintain role and we alter the script to make sure that it does not remove a PL unless they have admin access.

[2020-02-06 20:19] waynebeaton commented on #41
We have a meeting with some decision makers at GitHub next week. It would be helpful if you could summarize the problem briefly and describe as precisely as possible how GitHub could help us make this work. Start from the ideal and we'll work back to realistic.

[2020-02-10 19:51] autumnfound opened #42 "Second job needed for running GitLab sync"
As part of the development of the sync script, a new job needs to be created to run this script. Ideally, this would be done in parallel with the already running GitHub script to not add further processing time on the single VM and potentially increasing time between jobs. It would be best if this script ran independently of the GitHub script completely, to ensure errors in one script does not imp

[2020-02-25 15:05] chrisguindon opened #44 "Notify webmaster if ECA app is not installed"
is it possible to fetch apps in an organization so that we can send an email to webmaster to let them know that the ECA app is missing for one of our organization?

[2020-03-05 16:33] autumnfound commented on #39
@chrisguindon I think our phase 2 merge covers this. Are we good to close this issue?

[2020-03-05 16:34] autumnfound commented on #4
Phase 2 of this issue has been implemented and is live

[2020-03-05 16:34] #4 closed

[2020-03-05 17:24] chrisguindon commented on #39
+1 I will open a new request (low priority) to remove users are in 0 teams.

[2020-03-05 17:24] #39 closed

[2020-03-05 17:26] chrisguindon opened #45 "Remove users who are not in any team"
We now have users in each of our organization that don't belong to any of our teams.

We should probably remove them but it will be important that we keep users with admin access since we don't want to remove @eclipsewebmaster or @waynebeaton

This is low priority since these users don't have any elevated permissions to our repos.

[2020-03-18 12:21] chrisguindon commented on #41
I would like to propose that we move forward with the proposal I made on https://bugs.eclipse.org/bugs/show_bug.cgi?id=487359#c56

We should start by creating a new "project-leads" team on github for each of our projects as we are doing for our contributors and our committers.

Initially, this new project-lead team will have "triage" access by default. They don't need write access since this is gr

[2020-03-18 12:35] fredg02 commented on #41
Why should we not give "maintain" permissions to project-leads right from the start?

[2020-03-18 12:45] autumnfound commented on #41
The `triage` permissions are in the same boat as `maintain` permissions. The only valid permissions are `push`, `pull`, and `admin`. Please see https://developer.github.com/v3/teams/#add-or-update-team-repository

[2020-03-18 13:02] chrisguindon commented on #41
@autumnfound Thanks for reminding me :) Let's give them read access for now. If we ever decide that they should have admin access, we can update that later!

@fredg02 same problem as my comment, triage and maintain are not valid via the api!

[2020-03-18 18:46] fredg02 commented on #41
Ah OK. @autumnfound please try to force the triage/maintain permissions despite the fact that the API documentation does not describe it. Apparently the documentation is not always up to date (see https://github.community/t5/GitHub-API-Development-and/Update-Collaborator-Permission/m-p/43155 and https://github.community/t5/GitHub-API-Development-and/Triage-and-Maintain-roles-in-the-Collaborators-A

[2020-03-18 19:15] chrisguindon commented on #41
@fredg02 please see: https://github.com/octokit/octokit.net/issues/2041#issuecomment-583859173

[2020-03-18 19:51] autumnfound commented on #41
@fredg02 We tried again to be sure it wasn't implemented in the past couple of months since we last tested. We tried both `maintain` and `triage` but neither are working at this moment through the GitHub API.

[2020-03-18 20:22] fredg02 commented on #41
Thanks @chrisguindon & @autumnfound. Just to clarify, there are are a couple of issues with the GitHub API:
* It does not support setting triage and maintain permissions for *teams* AFAICT
* It does support *setting* triage and maintain permission for collaborators
* It does not *list* all permissions of collaborators (only admin, write, read, none)
* Checking the permission of collaborators can b

[2020-03-25 10:41] akosyakov commented on #12
@chrisguindon I've seen there was some progress to add teams. Does it mean any project committer can create a new team and invite a GitHub user as a contributor? I could not find any docs.

[2020-03-25 12:40] chrisguindon commented on #41
For the moment, it was decided that elevated permission would only be granted if it was requested by the project.

[2020-03-25 12:49] chrisguindon commented on #12
@akosyakov We created a new Project Leads team to them  grant admin access to their project git repository if they needed it. This must be requested via a bug as explained in https://bugs.eclipse.org/bugs/show_bug.cgi?id=487359#c50

We do not allow PL to add or remove users even if they have the ability to do so with their admin access. This is something that must be done by our sync-script to mak

[2020-03-25 12:51] autumnfound commented on #45
@chrisguindon is this solved by the fix to remove outside collaborators?

[2020-03-25 19:05] chrisguindon commented on #45
I think we are halfway there but we still have users in our organizations that don't belong to any teams!

I think this is low priority since these users don't have commit/admin access on our repos!

[2020-03-30 15:01] chrisguindon commented on #41
The sync script has created the new PL team!

As discussed, elevated permission will be granted by @eclipsewebmaster but project are required to open a bug and explain why they need admin access.

[2020-04-02 12:09] chrisguindon opened #47 "New project leads team does not have any repositories"
We recently created a new Project Leads team for each of our project.

The issue right now is that these teams were not added to the project repository.

[2020-04-07 19:41] chrisguindon commented on #47
I took a quick look and this seems to be fixed now!

[2020-04-07 19:41] #47 closed

[2020-04-16 15:37] eclipsewebmaster commented on #41
Support for maintain and triage permission is close: https://github.com/octokit/octokit.net/issues/2041#issuecomment-604311880 and following

[2020-04-16 15:38] fredg02 commented on #41
Support for maintain and triage permission is close: https://github.com/octokit/octokit.net/issues/2041#issuecomment-604311880 and following

[2020-04-16 15:50] fredg02 opened #50 "Do not reset contributor team's permissions if it's set to "triage""
Once the GitHub API allows to check for the "triage" permission, the sync script should not reset a contributor team's permissions.

See https://bugs.eclipse.org/bugs/show_bug.cgi?id=562071

[2020-04-16 16:01] autumnfound commented on #41
THere will be a delay around getting this live as there is a major rewrite and retest effort with any new features. I'll start work once this is prioritised within context of other MBO's and tasks

[2020-04-16 16:02] chrisguindon commented on #41
I am wondering if we could update our sync script to allow webmaster to set the triage team for contributors now that we can read those permissions.

This could be a temporary solution while we wait until we can update these roles via the api. Then we will want to give triage role to all our contributors.

[2020-04-16 16:07] autumnfound commented on #50
https://github.com/EclipseFdn/eclipsefdn-github-sync/issues/41#issuecomment-614743516

This is possible, but would require some logic updates to the part of the script that checks whether a group should be updated

[2020-04-20 12:49] autumnfound commented on #50
Also to be clear, this functionality does not yet exist and this enhancement is currently on hold. Work will start on this enhancement when the check has been implemented in the Git API and we update to the new breaking version.

[2020-05-04 13:42] fredg02 opened #51 "Repository creation for org members is enabled by default and leads to permission inconsistencies"
Repository creation for organization members seems to be enabled by default, when a new org is created. Here are a few examples
* https://github.com/organizations/eclipse-iofog/settings/member_privileges
* https://github.com/organizations/eclipse-openj9/settings/member_privileges
* https://github.com/organizations/eclipse-embed-cdt/settings/member_privileges
* https://github.com/organizations/ecli

[2020-05-04 14:26] autumnfound commented on #51
So the request here is to ensure that settings that are desired in orgs are enforced on a regular basis through the script? Are there other settings that we want to manage while we're posting the update?

https://octokit.github.io/rest.js/v17#orgs-update

[2020-05-04 14:50] fredg02 commented on #51
At a first glance, I'd say the following options should be checked and set:

* default_repository_permission = read
* members_can_create_repositories = false
* members_can_create_private_repositories = false
* members_can_create_public_repositories = false
* members_allowed_repository_creation_type = none

[2020-05-04 15:10] chrisguindon commented on #51
@fredg02 can you or someone in Eclipse webmaster review all our orgs and make this that this option is disabled. Please ignore if you already done that!

We do have plans for managing important settings via the API. Right now, we are using https://github.com/EclipseFdn/eclipsefdn-github-sync/issues/34 to track the requirements. My hope is that we will have time to fix this in the futur.

@fredg02

[2020-05-04 15:27] fredg02 commented on #51
I hope we can invest the time and effort into automating this instead of checking 30+ orgs manually.

Yes.

[2020-05-04 16:38] chrisguindon commented on #51
It will take some time but now that we know of the issue, we need to fix it! Can webmaster review all the orgs?

I am asking webmaster since it's the account responsible for creating the orgs.

[2020-05-05 08:36] fredg02 commented on #51
I expect that it will take as much time to review all the orgs manually as implementing the tooling to fix it automatically. Hence, I'd recommend to fix it in the sync script first. Let me know if I completely underestimate the effort.

[2020-05-05 08:41] fredg02 commented on #51
@waynebeaton: can you comment on that question?

[2020-05-05 12:54] waynebeaton commented on #51
It depends on the nature of the IP contained in those repos. If the IP was developed by the project team (implying that the content has been developed since the project became an Eclipse project), under the terms of the EDP, following the Eclipse IP Policy, then yes. At a minimum, we'd need a documented personal assertion from the project lead that this is the case.

Otherwise, no.

[2020-05-05 13:00] fredg02 commented on #51
@waynebeaton OK. How do we get this process started for the repos in the eclipse-iofog organization?

[2020-05-05 14:51] autumnfound commented on #51
The reason we want to review orgs before the fix is to ensure that we aren't breaking projects unduly. There have been exceptions for things in the past, and I think it would be a good idea to be aware of potential stumbling blocks before we hit them.

[2020-05-05 15:15] chrisguindon commented on #51
We estimate 0.5 to 1 day of work with testing. We are adding this task to our queue.

My hope is that we can publish a fix to production by the end of next week.

I will defer to you about fixing this manually in the meantime or if you are ok to wait until this patch is published.

[2020-05-05 15:20] waynebeaton commented on #51
Were these created before or after the project moved to the Eclipse Foundation?

[2020-05-05 15:40] fredg02 commented on #51
Good point. We should handle that with a dry run. First, check which repos have the option set and create a list. Then discuss possible exceptions, etc. and finally a full run.

[2020-05-05 15:51] fredg02 commented on #51
@waynebeaton: According to the audit log, the following projects were created after the project moved to the Eclipse Foundation:

action | actor | org | repo | date
-- | -- | -- | -- | --
repo.create | committer | eclipse-iofog | eclipse-iofog/helm | 2019-04-22
repo.create | committer | eclipse-iofog | eclipse-iofog/test-runner | 2019-04-29
repo.create | committer | eclipse-iofog | eclipse-iofog/c

[2020-05-05 17:30] waynebeaton commented on #51
My best guess is we can consider them all project code written under the supervision of the PMC and just add 'em to the PMI.

Is anybody in active contact with the project team? Is there a bug open specifically addressing the eclipse-iofog organization? I'd still like the project team's acknowledgement that these repositories and all of their contents have been created under the terms of the EDP,

[2020-05-06 12:33] fredg02 commented on #51
No

I stumbled over the inconsistencies while working on https://bugs.eclipse.org/bugs/show_bug.cgi?id=562627, but I guess a separate bug is in order.

[2020-05-11 16:51] fredg02 commented on #51
@autumnfound can you generate a list of organization that currently have the repository creation enabled for members and corresponding repos that have been created with this permission (tell-tale would be missing committers-, contributors-, project lead- groups and/or a committer with admin permissions) so that EMO can get in contact with the projects?

[2020-05-13 14:26] autumnfound commented on #42
@mbarbero do you have any insight on if this is possible, or if there might be a better way to manage multiple jobs/pods?

[2020-05-13 14:28] mbarbero commented on #42
Fully agree, it should be a different cronjob from https://github.com/EclipseFdn/eclipsefdn-github-sync/blob/master/k8s/cronjob.yml

[2020-05-14 19:53] autumnfound commented on #51
I've started work on the report, and hope to have the report finished before 12pm EST tomorrow latest. Once it is complete I will post a zipped CSV to this issue

[2020-05-15 14:15] autumnfound commented on #51
This will take longer than expected as there is a lot of functionality that does not exist in our wrapper yet and needs to be created. This should be ready for next Tuesday (as Monday is a holiday in Canada). Sorry for the delay!

[2020-05-15 19:08] autumnfound commented on #51
Update: The code is complete and the report can be run once we have access to the webmaster access token. Write access is required to read collaborators for some reason.

[2020-05-27 04:13] DanHeidinga commented on #50
Reading https://github.com/octokit/octokit.net/issues/2041#issuecomment-610632363, it seems like the Github api has been updated to return the triage permission.

Is this enhancement still on hold?

[2020-05-27 11:40] fredg02 commented on #50
Yes, it's still on hold, since the GitHub API supports it, but it has not been added to octokit.net (the client API library that we are using). See also https://github.com/octokit/octokit.net/releases.

[2020-05-27 12:11] DanHeidinga commented on #50
Thanks @fredg02.  Have octokit indicated when it will be added to their library?  I'd like to set the OpenJ9 communities expectations on when this might be available.

[2020-05-27 12:33] fredg02 commented on #50
I've commented on the issue. You can see the reply here: https://github.com/octokit/octokit.net/issues/2041#issuecomment-634608936

[2020-06-17 15:28] autumnfound opened #56 "Update user creation to set users correct email rather than dummy address"
GitLab script currently sets new users to use a dummy email account for purposes of creation. While this is updated on the first login, users would not be notified of new requests made before that login. To fix this, an access token should be passed as authentication to retrieve the email address when fetching user information (this info is normally hidden due to GDPR).

[2020-07-08 18:26] autumnfound opened #64 "GL sync script is failing out on error instead of just logging"
When there is an error, the script dies and stops processing completely. It should instead catch whatever error and skip the current project/group it is processing.

Example log:
[code]

[2020-07-08 20:12] #64 closed

[2020-07-08 20:13] autumnfound commented on #42
This is live and running

[2020-07-08 20:13] #42 closed

[2020-07-08 20:15] autumnfound commented on #51
These changes have been made live

[2020-07-08 20:15] #51 closed

[2020-07-08 20:19] autumnfound commented on #56
@chrisguindon is this still needed? We've updated the dummy address to be a standard format that would follow a noreply email address once/if that functionality is added.

[2020-07-08 20:48] chrisguindon commented on #56
This is still needed and should be added to your priority list. I would like to get this done in the next 2 weeks if possible.

[2020-07-28 20:20] chrisguindon commented on #56
I think we are done here!

Closing.

[2020-07-28 20:20] #56 closed

[2020-08-11 13:22] chrisguindon commented on #50
@autumnfound Can you verify if this was implemented in https://github.com/octokit/rest.js? If not, let's make sure that we create an issue for this.

[2020-08-11 15:21] autumnfound commented on #50
It looks as though this feature is present in Octokit REST.js, in at the very least version 18 of the product. Once we update to the newest version we should have this functionality ready and configurable then.

[2020-08-12 18:57] autumnfound opened #77 "Upgrade to newest stable version of Octokit REST.js"
This issue represents a large shift in the API method signatures from v16 (our currently implemented version) to add more data to the calls, usually organizations. A decent chunk of our calls already generate deprecation warnings that they are to be removed, and more are likely impacted by version 18 (the following and current release).

[2020-08-12 18:59] autumnfound opened #78 "Look into rate limiting through Octokit plugin and remove dependencies on SAB + Atomics"
SharedArrayBuffer and Atomics.wait are [known vulnerabilities](https://github.com/tc39/security/issues/3) since the Spectre and Meltdown exploits. We should remove dependencies on them, even if they still exist and are usable within Node.js.

[2020-08-12 19:07] autumnfound opened #79 "Update all exports to use ES2015 classes"
As the script shifts to more modern applications and potential future use cases, some of our current practices can be updated to be more secure and modern. Any place we export nested functions should instead be updated to be [stateful class instances](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes). This allows more easy reuse of functionality, better testing potential,

[2020-08-12 19:08] autumnfound opened #80 "Fix file name conventions"
Currently, script names are not consistent. The script names should be standardized and follow a single convention across the board.

[2020-08-12 19:09] autumnfound opened #81 "Finish migrating EclipseAPI functionality"
While currently implemented within the GitLab sync script, the GitHub sync script does not make use of the centralized EclipseAPI class yet. The migration of functionality should be finished, with the GitHub sync script calling the EclipseAPI class to make any calls to Eclipse Foundation APIs.

[2020-08-12 19:11] autumnfound opened #82 "Convert the sync scripts to classes that contain the data for its specific run"
We should make the sync scripts run as classes rather than a loose collection of functions that runs automatically. By doing this, we improve the testability of the sync scripts and better isolate the runs.

[2020-08-12 19:14] autumnfound opened #83 "Centralize Kubernetes secret reading functionality"
While this wouldn't improve security as the classes would need to be transparent and accessible, centralizing this functionality would make our code more stable. This would also allow us to more easily extend other scripts to make use of the secrets in a straight forward way.

[2020-08-12 19:16] autumnfound opened #84 "Fix all of the 'eqeqeq' warnings and set the lint rule to error"
The scripts should be more explicit with equalities to ensure no unintentional equalities happen in the scripts checks.

[2020-08-12 19:23] autumnfound opened #85 "Add testing to sync scripts + any custom helper classes"
We should aim for basic coverage of cases, checking known good cases, and 1-2 error cases if they are common.

[2020-08-12 19:24] autumnfound opened #86 "Improve logging within all scripts"
Standard logs are decently done, but more information can likely be added to verbose logging when troubleshooting runs manually.

[2020-08-12 19:26] autumnfound opened #87 "Investigate adding sonar cloud to the quality assurance on top of linting"
While linting enforces many good quality measures, it may not catch all cases. We should investigate adding SonarCloud integrations to the project to do deeper checks and whether this adds value.

[2020-08-12 19:34] autumnfound opened #88 "Investigate Strongloop eslint config"
In a recent patch, ESLint was added to provide better assurance of quality while building and running the script. To more quickly configure it, a configuration set was used to quickstart the linting configuration. The configuration should be more thoroughly checked to ensure that it meets our quality standards and conventions.

[2020-08-13 14:46] autumnfound commented on #12
@akosyakov Just dropping in to give you an update. We've forecast a 1.0 release of our sync script, with this bug not being included for the moment. The reasoning behind this is that as it stands, there is no plan to implement custom teams in the near future.

Once this feature is added to PMI, we can explore its addition here. Currently, there is the ability to add users as collaborators within P

[2020-08-18 15:18] chrisguindon opened #89 "ability to define teams via a static file"
We need to be able to define teams and it's level of access to a repository. For example, the https://github.com/jakartaee/specification-committee repository is not directly tied to an Eclipse project. Access management is currently a manual process.

This is error-prone and I would like to start tracking these changes in git.

I am thinking that we need to create a github.yml file that would allo

[2020-08-24 19:40] autumnfound opened #90 "Investigate gains/changes/investment in migrating from v3 to v4 GH API"
As part of a shift to better support integrators, GH has shifted its new API version (v4) to be made using [GraphQL requests rather than REST endpoints](https://docs.github.com/en/graphql/overview/about-the-graphql-api#why-github-is-using-graphql). This represents a large logical shift and could provide potential savings by switching over. As this represents a significant investment of time, we sh

[2020-08-27 19:01] autumnfound opened #95 "Fix brittle test that causes build timeouts"
Currently, the EclipseAPI test script will timeout in a majority of builds due to the fetching of production Eclipse API data. We should instead look at retrieving 2-3 pages instead of all when testing. That way pagination can be tested (indirectly) while creating a more robust script.

[2020-09-08 18:25] autumnfound commented on #90
## Summary of the following section:
There are huge gains to be made switching to GraphQL for a majority of requests for data. Due to the immaturity of the GraphQL endpoint in the GitHub API however, we would require a mixed approach of REST and GraphQL requests to effectively run this script.

There aren't large technical issues with this, other than loading 2 frameworks side by side which is mor

[2020-09-09 16:34] autumnfound commented on #88
Looking into the Strongloop configuration, there is a mix of stylistic rule activations and some additional restrictions around some good practices in the node JS and ECMA.

Additionally, I've added the following rules:

- [complexity](https://eslint.org/docs/rules/complexity): Cyclomatic complexity in methods. This will push us to better break down methods to not be overly complex.
- [default las

[2020-09-09 19:40] autumnfound opened #97 "Manage organization members with 0 teams"
Currently, we do not actively remove organization members. While this is a very low-risk issue, we should look at removing users from organizations that no longer need to be there.

[2020-09-11 18:49] autumnfound commented on #50
@fredg02 @chrisguindon do we want to set the contributors permissions to 'triage' going forward? In testing another feature, I was able to confirm that the recent update to the version of octokit we use has enabled setting the triage permission.

[2020-09-11 19:18] autumnfound commented on #50
Actually a follow up to this, since the fix for #41 will set all contributor teams to have triage permissions, can we close this issue?

[2020-09-11 19:26] chrisguindon commented on #50
Why is that the fix for #41? The feature that @fredg02 is requesting there is to Give every PL the maintainer role, not contributors.

The request here is to keep the triage role but the default should be read in my opinion.

This is how I am understanding both requests, am I missing something?

[2020-09-11 19:31] chrisguindon commented on #50
-1 I don't want to give contributors more access unless the project asks for it.

[2020-09-14 15:06] fredg02 commented on #50
The purpose of this issue was **to not reset** the triage permission if it was set manually for a committer.

Since demands for triage permissions have been rare (so far), I agree with @chrisguindon to only set them on request.

[2020-09-14 15:08] fredg02 commented on #50
#41 is discussing the maintainer permissions for project leads. Did you mean a different issue?

[2020-09-17 14:34] autumnfound commented on #41
@fredg02 right now, we have 'overwrite' set to false for updating PL permissions. If we leave this on, it means that none of the existing teams will get maintain unless manually set. If we set it to true, any admins would be set back to maintain. How do you want to handle this?

[2020-09-17 14:42] fredg02 commented on #41
I'd suggest to set the PL permissions to "maintain(er)" by default. If we manually set the PL permissions to "admin" this should not be overwritten.

[2020-09-17 15:35] autumnfound commented on #41
Currently, it is the new default. The overwrite doesn't check what permission it would overwrite, it will just overwrite if overwrites are enabled. What this means for you is that we can leave it as is, and any existing teams would be updated manually on an as-requested basis, or we can turn on overwriting, and manually reapply admin-level access to anyone who had it. Which situation would you pre

[2020-09-17 16:04] fredg02 commented on #41
Is there an easy way to scan and filter out all PL teams that currently have admin permissions, so we can re-apply them manually?

[2020-09-22 19:57] autumnfound commented on #41
Scan and filter? No, I'd have to write a script to scan all of our project teams which we currently don't have a report for.

[2020-09-24 17:16] DanHeidinga commented on #50
Now that this is implemented, how do we request contributor teams get the triage bit set?  (ie: https://bugs.eclipse.org/bugs/show_bug.cgi?id=562071)

[2020-09-24 17:24] autumnfound commented on #50
I've added a PR that flips this, but Fred and I are discussing how to move forward as there are some logistics around updates to set a new default for PLs. We're hoping to have this live soon, so don't worry we haven't forgotten!

[2020-09-24 17:32] fredg02 commented on #50
@DanHeidinga Triage permissions can be requested through Bugzilla issues. You've already requested this in https://bugs.eclipse.org/bugs/show_bug.cgi?id=562071. Let's continue the discussion over there.

[2020-09-24 17:36] chrisguindon commented on #41
How about we keep the current state for the existing PL team and moving forward, we simply create a new PL team with the maintainer permission?

The existing PL team will have to request this change via Bugzilla > Github.

I think we are good with granting "triage" to all our collaborator teams.

Does this work for you @fredg02 ?

[2020-09-24 17:43] chrisguindon commented on #50
This is what I think we want for this issue:

1. New collaborators teams are created with "read" access by default
2. Webmaster has the access to change that role to "triage" via Github UI.
3. Sync script must reset the access level to read if the access level is not "read" or "triage".

[2020-09-24 17:45] fredg02 commented on #41
I managed to query the API to get a list of *-project-leads teams that have the admin permission set. So we should be good to go to set all PL teams to 'maintain' permissions with the sync-script. Once that is done, I can manually set the admin permissions for the teams that had it before (only 4 teams by my count). Let's discuss this tomorrow, before we run this.

[2020-09-24 17:46] fredg02 commented on #50
@chrisguindon :+1:  LGTM

[2020-09-24 17:46] chrisguindon commented on #41
@fredg02 I will schedule a quick call tomorrow with you, me, and @autumnfound to discuss these final details!

[2020-09-25 18:22] chrisguindon commented on #50
@waynebeaton,

After a conversation with @autumnfound @fdesbiens and myself, we decided to propose that we the default permission level for every Collaborator team.

These teams currently have READ permission. My next screenshot is a list of actions that collaborators will be able to do if we move forward with this change:

![Screen Shot 2020-09-25 at 2 20 30 PM](https://user-images.githubusercont

[2020-09-28 13:19] autumnfound commented on #12
@akosyakov We've been making some strides on static teams defined in this repo (#89), which seem like they would cover most of the requirements set in this issue. We haven't defined how projects would request a custom team yet or who would make those requests, but that should be the next step once this is live and tested with an internal EF team.

[2020-09-28 16:09] waynebeaton commented on #50
+1

For completeness, my only concern is intellectual property integrity. Specifically, it must be possible to trace every commit back to a project committer or a contributor who has signed the ECA; and only project committers can accept pull requests.

[2020-10-15 17:58] #80 closed

[2020-10-15 17:58] #83 closed

[2020-10-15 17:58] #89 closed

[2020-10-15 17:58] #95 closed

[2020-10-15 17:58] #50 closed

[2020-10-15 17:58] #81 closed

[2020-10-15 17:58] #88 closed

[2020-10-16 12:21] chrisguindon opened #110 "Sync script is failing / not currently running"
I took a look at the logs after deploying our latest update and I can see the following error message in the logs:

[code]

[2020-10-16 14:38] autumnfound commented on #110
This fix is live and the script is currently running

[2020-10-16 14:38] #110 closed

[2020-10-26 13:28] autumnfound commented on #84
This was merged in last week and is stable

[2020-10-26 13:28] #84 closed

[2020-10-26 13:28] autumnfound commented on #77
This was merged in last week and is stable

[2020-10-26 13:28] #77 closed

[2020-10-26 13:29] autumnfound commented on #41
This was merged in last week and is stable. We can reopen this to track the remaining admin teams if you like, I just didn't want to leave this hanging.

[2020-10-26 13:29] #41 closed

[2020-10-30 12:51] autumnfound opened #117 "Bots are not being kept in Gitlab syncs"
When removing users, the script should check whether a user is a bot before removing it, which it currently isn't

[2020-11-13 15:12] autumnfound opened #122 "Gitlab repos are not checked for additional users"
When removing users without permissions, currently only groups are checked. This presents no issues in a bubble, but becomes an issue if users are being modified outside of the standard script runs. If users (Project Leads) are given maintainer, then the script could be bypassed for permissions.

[2020-11-13 15:20] autumnfound opened #123 "Add Static Team Manager support to Gitlab sync script"
Currently, only the GitHub sync supports adding users through the static team manager. The hooks for different providers were added on implementation, so all that remains is to add an integration through the sync process. In addition to adding an integration, a way of managing these users needs to be defined within the Gitlab ecosystem.

A possibility would be to define Groups under the Eclipse gr

[2020-11-13 17:19] autumnfound commented on #122
In planning for this issue, I've been planning ahead for when we want to add statically managed teams to Gitlab. This way there doesn't need to be a comprehensive rewrite of logic down the line to add this feature. The plans for this bug are initially as follows:

1. Implement a mechanism that removes all non-owner users (that are not bots, and even then we should limit this permission) and groups

[2020-11-16 16:28] eclipsewebmaster opened #124 "Some URL normalization is not necessary on GitLab"
I had requested this repo: https://gitlab.eclipse.org/eclipse/dash/org.eclipse.dash.handbook

I got this repo: https://gitlab.eclipse.org/eclipse/dash/org-eclipse-dash-handbook (dashes instead of dots)

The repo name contains dots, but the URLs and clone links contain dashes.
https://gitlab.eclipse.org/eclipse/dash/org-eclipse-dash-handbook

This is not necessary.  Please allow dots.

[2020-11-17 20:48] autumnfound commented on #124
This request is related to an issue filed on the Gitlab instance: https://gitlab.eclipse.org/eclipsefdn/gitlab/-/issues/21

I'll do some testing tomorrow. Are there any other characters we should allow? Right now I believe the sanitization requires Latin alphanumeric + dashes

[2020-11-17 21:23] eclipsewebmaster commented on #124
Thanks!

[2020-11-18 13:49] autumnfound commented on #124
I've tested periods and they work fine. Are there any other characters we want to add to the exception list?

[2020-11-19 19:33] #124 closed

[2020-11-25 18:08] chrisguindon opened #126 "add shanda to eclipsefdn-staff team"
{
  "name": "sgiacomoni2as",
  "url": "https://api.eclipse.org/account/profile/sgiacomoni2as",
  "expiration": ""
},

This is done here:
https://github.com/EclipseFdn/eclipsefdn-github-sync/blob/master/src/teams/static.json

[2020-11-25 20:07] #126 closed

[2020-12-03 13:50] fredg02 commented on #117
AFAICT this bug is already fixed, right?

[2020-12-03 14:00] fredg02 opened #128 "Investigate if all GitHub teams can be made public"
In the spirit of being open and transparent we should check if all GitHub teams can be made public.

@chrisguindon mentioned that there was (or still is?) an issue with public teams that allowed members to add other users or create nested teams. There might have been/be other issues.

I did a quick test and was not able to add more users or create nested teams to a public team, but more testing ne

[2020-12-03 14:00] autumnfound commented on #117
Yeah, it just wasn't closed initially. We can close it now :)

[2020-12-03 14:00] #117 closed

[2020-12-03 14:10] chrisguindon commented on #128
To add to this conversation:

The sync script will need to make sure that the "Allow members to create teams" setting is disabled for all our orgs.

https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/setting-team-creation-permissions-in-your-organization

[2020-12-07 14:05] autumnfound opened #130 "Travis builds failing due to linting failure"
See below for console output for linting failure:
[code]

[2020-12-14 16:18] chrisguindon opened #131 "Sync script is not removing an invalid committer"
The sync script recently created new teams for the openhw-corev-committers.

Duncan, Director of Technical Programs for OpenHWGroup reviewed the list of committers and saw that a committer was missing from the team. He decided to add him manually.

The problem here is that the committer did not share his Github ID with us so the sync script was not able to add him to the team.

With that informati

[2020-12-14 18:07] autumnfound commented on #131
Some initial questions:

- Who are the owners/admins of the OpenHWGroup organization on Github, is eclipsewebmaster on this list?
- Clarification that this is for the OpenHW CORE-V cores project  on PMI (https://projects.eclipse.org/api/projects/openhw_corev)

Could I also get logs of the yesterdays runs (if they still exist)? A full day of runs should give me good data to debug this.

[2020-12-14 18:37] chrisguindon commented on #131
Eclipse Webmaster is one of the owners of the organization.

Correct!

Yes, but we can't share our logs on Github. I will send you a copy shortly.

[2020-12-14 19:46] autumnfound commented on #131
In the logs:
[code]

This looks to be an issue with the fact that we are still doing safe removals for users in teams (only users we can identify within Github and aren't bots). Should we remove this safeguard?

[2020-12-14 20:00] chrisguindon commented on #131
We need to make sure that this bot is added to our BOTS API. Can you provide a patch for that?

I will reach out to Duncan about Silabs-ArjanB.

This sounds like a regression. This was fixed earlier this year:
https://github.com/EclipseFdn/eclipsefdn-github-sync/issues/4

[2020-12-14 20:02] chrisguindon commented on #131
Regarding Silabs-ArjanB,

His account is fine with Eclipse:
https://api.eclipse.org/github/profile/Silabs-ArjanB

[2020-12-14 20:38] autumnfound commented on #131
Regarding the bot, it should exist on the repo as a collaborator, not as a committer. A bot should never be committing under our current paradigm (afaik), so that's correct. I can check that the bot is registered though!

[2020-12-14 20:51] chrisguindon commented on #131
The project does not have any collaborators. I assume it's because the bot is not listed for that project?

[2020-12-14 21:19] autumnfound commented on #131
The bot is added manually to the repo when needed, and needs to be registered via PMI (or whatever is the standard procedure, as its not managed through the repo).

[2021-01-19 16:43] #131 closed

[2021-01-19 21:24] autumnfound opened #136 "Add logic to remove users not in teams back in"
As there was an issue with bots being removed from committer teams, the change was reverted to preserve bot functionality. When adding the code back in, we should handle bots for team membership as we handle it in repo collaborators.

[2021-01-19 21:27] autumnfound opened #137 "Discuss management of bots in the sync script"
From an issue created through over-zealous removal of users from teams, a new script to manage bot team membership was created to handle the process rather than doing it manually. There were some discussions on potentially managing bots in the future through the sync script, though there were some concerns raised by @fredg02 about it breaking some workflows.

[2021-01-21 17:00] autumnfound opened #138 "Proposal to change repository name to reflect actual usage"
In the past year, our Github sync repo has grown by leaps and bounds to encompass sync operations across our different version control platforms. In light of this, should we update the name of the repo to more accurately reflect the actual contents of this repo? Something along the lines of `eclipsefdn-vc-sync` or `eclipsefdn-vc-tools` (as we have some scripts that are managagement scripts as well

[2021-01-21 17:01] autumnfound commented on #87
In terms of what is available for CQ, I think sonar, while a useful tool, doesn't provide a lot of value over on-build linting to enforce quality. I'm going to close this issue as we don't need it any more.

[2021-01-21 17:01] #87 closed

[2021-01-22 12:21] fredg02 commented on #137
There are different aspects that need to be discussed.

1. Should bots be actively added by the sync script based on projects-bot-api or should it ignore bot users completely (neither add nor remove bot users)?
2. If bots are actively added by the sync script, can it be triggered manually to reduce delay?
3. How are external bots (e.g. openshift-ci-robot and openshift-merge-robot) handled?
4. Shou

[2021-01-22 12:46] fredg02 commented on #137
1. My use-case is to add a GitHub bot for a project. After signing up the bot-user I can instantly add it to the committers team, check on the Jenkins instance that everything works as expected and close the bug. Waiting for the sync-script to run will delay this by a few hours and break the workflow.
2. Even if the sync script can be kicked off manually, it takes quite a while to finish. Is it fe

[2021-01-25 15:16] autumnfound commented on #137
1. This script wouldn't stop you from adding the bot manually, but would just supplement it and allow us to manage bots that fall off the list for whatever reason. It wouldn't necessarily add anything though in your use-case (other than the assurance that no bot gets left behind).
2. Currently the script exists in the repo under src/gh/BotFix.js, and can be run locally whenever! Chris ran it last

[2021-01-25 15:39] fredg02 commented on #137
1. & 2.: If I can either add bots manually (and they don't get removed) and/or kick off a script that quickly adds bots from the bot-api, I'm fine with it.
3. I'm not sure if external bots should be added to the projects-bot-api, but in any case we have to make sure that external bots can get past the ECA check if necessary.
4. I meant the difference between adding a bot to one team "foo-bar-commi

[2021-01-25 15:46] autumnfound commented on #137
1/2. That's the plan yeah! I'll be pushing the patch to remove users again soon but with bots in mind this time haha! So we still have the script, and you can add manually or use the script. Its up to you!
3. That'll be a change within EclipseFdn/git-eca-rest-api rather than here, but agreed!
4. Gotcha, yeah, it's much better then!

[2021-01-26 19:01] autumnfound commented on #90
Currently, as the v4 API isn't mature enough to handle our use cases fully, I'm going to close this issue. While we could have some savings by switching some of our calls, maintaining calls across 2 versions of the same API could get incredibly messy and make this functionality harder to maintain. Once the API has matured, we can come back to this

[2021-01-26 19:01] #90 closed

[2021-01-26 19:02] autumnfound commented on #130
This has been fixed as part of #140

[2021-01-26 19:02] #130 closed

[2021-01-26 19:03] autumnfound commented on #97
Closing as duplicate of existing issue #45

[2021-01-26 19:03] #97 closed

[2021-01-26 19:04] #78 closed

[2021-01-26 19:06] autumnfound commented on #85
We've added testing to all of our custom helper classes at this point, though adding to the sync scripts will prove to be more difficult without first splitting the sync script functionality into a class that is initialized and run, where we can override the internal wrappers with test versions to smoke test functionality.

[2021-01-27 19:46] chrisguindon commented on #123
We needed to add a bot account to the webdev project on GL. Let's increase the priority on this one!

However, this is not a "stop everything and let's fix this" problem!

[2021-02-09 17:49] autumnfound opened #143 "Grant PL maintainer privilege as part of the sync rather than developer"
This was requested in the Gitlab project on our GL instance: https://gitlab.eclipse.org/eclipsefdn/gitlab/-/issues/17#note_256

[2021-02-09 17:52] autumnfound opened #144 "Make sure that users added manually to groups and projects are removed in sync"
Currently, I doubt that user cleanup is enforced in the GL sync script, as only we can add users currently. We should check both projects and groups to make sure that no one was added outside of this process who should not have been.

[2021-02-22 15:48] chrisguindon opened #148 "Explain what this script does for Github and Gilab"
Similar to what we did for https://github.com/EclipseFdn/git-eca-rest-api#what-is-a-valid-commit, I would like us to start documenting what this script does in the README.md file.

[2021-02-23 17:27] autumnfound opened #149 "Create test environment using something similar to Express server"
In order to properly test integrations with Github or Gitlab, we need a webserver to bind our integrations with. This could be done using express.js along with a small react app with no native components (just a router). As an example, see the following Medium article: https://medium.com/analytics-vidhya/how-to-setup-node-express-server-to-mock-apis-response-locally-53b4fdb8de97

It is also possib

[2021-03-01 17:18] autumnfound opened #150 "Add parameter to sync runs to allow for targeting of a single project/org"
In rolling out changes to production, being able to run small contained instances of the sync script would be a great feature. The idea with this would be to change the target from all organizations/projects to just one. This way we could test changes against limited sets to reduce impact of regressions/new issues should they arise.

[2021-03-03 14:16] autumnfound commented on #144
This is a duplicate of #122

[2021-03-03 14:16] #144 closed

[2021-03-03 14:21] chrisguindon commented on #148
This is awesome. I am re-opening since I notice a few small edits that we could do after merging:

- Add a link to Eclipse PMI https://wiki.eclipse.org/Project_Management_Infrastructure in Repository access levels section

- It's not 100% accurate, projects can request their own organization if they want.
- I think we also need to add a paragraph here about requiring users to share their Github ID

[2021-03-03 15:43] autumnfound opened #154 "Change release strategy to tagged release rather than rolling"
To provide better stability for builds, I'm suggesting we move away from a rolling release to a tagged release strategy. This would give us more control over when things go live without having them have to sit in a PR waiting for a stable time to be built.

@mbarbero @fredg02 @chrisguindon thoughts on this?

[2021-03-03 15:45] mbarbero commented on #154
godspeed

[2021-03-03 16:51] autumnfound commented on #128
Looking into this, I made a team in eclipsefdn-webdev, and added a member user to a team, and made sure that the setting Christopher mentioned was disabled. In that state, the user could not invite users or create subteams. If a user is an 'owner' or maintainer of the team. Maintainers of teams have to be promoted to such, as [the default state is a standard member](https://docs.github.com/en/rest

[2021-03-03 16:54] autumnfound commented on #154
I had a quick call with Mika over this, and he passed on that we should do this as we are doing it in open-vsx https://github.com/EclipseFdn/open-vsx.org/issues/391#issuecomment-787776288

Instead of tagged releases, we would make merge requests to a production branch that would be checked in the Jenkinsfile, and make a production build when finding that branch. I'll make a PR for this today!

[2021-03-03 16:56] mbarbero commented on #154
Note that it does not prevent you from tagging commits if you want to have labels on "releases", but the tagging alone won't trigger any deployment.

[2021-03-03 19:07] autumnfound commented on #149
Possible products:
- **MirageJS** - maybe? It looks like its made for internal more than external, needs some playing around with
- **Jest** - would work well w/ Mocha+chai, but is limited to known object mocking (like axios), and each call needs to be mocked, and there is limited support for different var values in mocked calls (hard to target specific endpoint calls)
- **octokit/fixtures** - lit

[2021-03-03 20:04] autumnfound commented on #85
We've added testing to what we can reasonably for unit testing. More work can be done, but that testing is functional testing and requires more advanced frameworks

[2021-03-03 20:04] #85 closed

[2021-03-04 20:07] chrisguindon commented on #128
This is where I stand:

Public teams are better but we needed to make them private to stop projects from creating sub-committer-teams.

But now we can leverage the "Allow members to create teams" settings to stop that behavior. We administer 20+ orgs and we can't expect webmaster to always remember to enable "Allow members to create teams".

If we make these teams public, the sync script must ensu

[2021-03-04 20:28] autumnfound commented on #128
This setting isn't currently exposed via the API. I've asked the community if I've missed the setting, but I believe this is just a newer setting that is not yet exposed via the API. https://github.community/t/setting-member-privilege-for-team-creation-in-orgs-via-api/165837

[2021-03-05 09:38] fredg02 commented on #128
To avoid confusion: s/enable/disable/ ;)

[2021-03-05 09:39] fredg02 commented on #128
Since this is not a time-critical issue/feature request we can wait until the API exposes the necessary settings.

[2021-03-05 14:07] chrisguindon commented on #128
+1

[2021-03-08 13:57] #154 closed

[2021-03-11 15:02] autumnfound commented on #138
@chrisguindon thoughts?

[2021-03-11 15:51] chrisguindon commented on #138
+1 I agree that it makes no sense to keep github in the name of this repo. Let's do a poll before we rename:

/polls eclipsefdn-vc-sync eclipsefdn-vc-tools

[2021-03-11 15:51] chrisguindon commented on #138
/polls eclipsefdn-vc-sync eclipsefdn-vc-tools

[2021-03-15 13:11] #148 closed

[2021-03-18 13:12] chrisguindon opened #159 "[documentation] - How can PL request admin access"
Our readme.md is some missing information on how PL's can request admin access for their Github projects.

This was discussed and implemented here:
https://github.com/EclipseFdn/eclipsefdn-github-sync/issues/41#issuecomment-698486172

Projects can request admin access for PL by opening a bug via Bugzilla > Github. They should explain with their request why they need Admin access.

Webmaster will r

[2021-03-30 14:52] #150 closed

[2021-04-14 15:04] #136 closed

[2021-04-15 15:02] fredg02 commented on #143
This does not seem to work yet, I've checked the permissions in several GitLab groups (APP4MC, AsciiDoc, Comma, Lsat, Eclipse SW360 and ESCET), but project leads do not have maintainer permissions.

[2021-04-20 08:54] fredg02 opened #164 "How can we give temporary admin permissions to committers?"
In general, we recommend that only project leads get temporary admin permissions. In some cases, it's still easier for projects when tasks are delegated to committers. Such cases require the blessing of a project lead.

There are two approaches:
* Add a committer in the "Settings -> Manage access" menu and give him "admin" access
* Add a committer to the GitHub project lead team and give the team

[2021-04-23 17:24] fredg02 commented on #143
Fixed via #162 and #167.

[2021-04-23 17:24] #143 closed

[2021-04-23 18:59] #86 closed

[2021-04-27 17:37] autumnfound opened #169 "Bots under sub-categories of a site are being removed"
Currently, bot checks are strict in terms of looking up the bot name registered for a site ("github.com", "gitlab.com"). This means that any bots that are registered under a sub-category/grouping for the site (e.g. "github.com-openshift-ci-robot") are not registered as valid bots for a given site. There should be a way to read multiple bots for a given site and not removing them.

//cc @mbarbero @

[2021-04-27 17:39] autumnfound commented on #169
A way we could address this issue would be to match on the passed site name with a pattern like `$sitename.*`, and return lists with multiple entries when we are looking up bots for sites/users. Are there any concerns with that solution?

[2021-04-28 13:08] fredg02 commented on #169
How is this handled in the ECA check for cases like "github.com-dependabot"? Using `$sitename.*` sounds like a pragmatic approach to me.

[2021-04-28 13:16] autumnfound commented on #169
It got pushed back to a PR as there was an NPE. Its my last PR to roll into master before I poke about testing to roll up to production. https://github.com/EclipseFdn/git-eca-rest-api/pull/50/files?diff=unified&w=1#diff-de47b295e8c83f448493870312e9ce5e9eb7d78a36e8795f8040da0098ade8e8R317

TLDR: It checks all emails for a bot given a project (instead of username), rather than just the given site bo

[2021-04-28 15:15] fredg02 commented on #169
If @mbarbero does not have any concerns, then let's go with the pragmatic approach. The Che project is still affected.

[2021-04-28 15:16] mbarbero commented on #169
no concerns.

[2021-04-28 20:10] autumnfound commented on #169
I've created a patch for this! Looking to merge in a different change set that has test+lint fixes as this will fail otherwise, but it shouldn't be too long

[2021-04-29 13:04] #122 closed

[2021-05-04 10:49] fredg02 commented on #159
This is also related to "How can we give temporary admin permissions to committers?" #164.

[2021-05-04 10:51] fredg02 commented on #138
Would it make sense to split up the repos (e.g. eclipse-github-sync, eclipse-gitlab-sync and eclipse-common-sync) or is there too much overlap?

[2021-05-04 10:53] fredg02 commented on #45
This is also related to "How can we give temporary admin permissions to committers?" #164.

[2021-05-04 13:17] autumnfound commented on #138
The issue is that there are tools that are made to integrate the 2 (see the new backup/import script we created for OHWG). If we start to fragment this repository, we still have dependencies on the other which just creates a weird dep cycle which isn't ideal either.

[2021-05-04 14:48] autumnfound commented on #149
As part of a separate issue, testing was created using Sinon mocks that simulate servers in testing scenarios. In live cases, usage of dry run flags can be enhanced, though should provide good enough functionality for testing.

[2021-05-04 14:48] #149 closed

[2021-05-04 14:58] fredg02 commented on #164
@waynebeaton In order to move forward with this, we need your assessment. Are you OK with handing out temporary admin access to committers, with the blessing of a project lead? Or are we sticking to the "only project leads can get admin permissions rule"?

[2021-05-04 14:59] autumnfound commented on #44
Looking into this, there is some additional auth work we would have to do in the sync script to validate this. See https://docs.github.com/en/developers/apps/authenticating-with-github-apps#authenticating-as-a-github-app

TLDR: We would need to generate a JWT for a separate GH API object that validates against the app's pub key. Do we have the public/private key stuff set up anywhere that I can po

[2021-05-04 15:01] autumnfound commented on #169
This was merged in, and has run against the production dataset @fredg02 can we validate this issue is resolved? If not, can we add the openshift bots to the Che project and test this with the 12pm EST run of the sync?

[2021-05-04 15:05] autumnfound commented on #137
Looping back to this, we have a basic triggered solution to re-add users. We may need to update this solution to better handle the external/sub-resource (e.g. github.com-openshift-merge) bots though, as they wouldn't be currently handled I don't believe. Once this is done, would you say this is resolved, or would you like the bot fix to be triggered as part of the sync process?

[2021-05-04 15:11] fredg02 commented on #169
I've re-added the openshift bots.

[2021-05-04 15:32] waynebeaton commented on #164
Yes.

[2021-05-04 17:46] fredg02 commented on #169
Openshift bots did not get removed this time. So I call this a success.
Fixed by  #175.

[2021-05-04 17:46] #169 closed

[2021-05-04 18:14] autumnfound opened #177 "Support different top-level groups as defined by provisioning request"
In support of a request from Mike, we should support different top-level groups as defined in the Gitlab issue https://gitlab.eclipse.org/eclipsefdn/gitlab/-/issues/47. Some initial questions around provisioning of these top-level groupings.

1. Currently there is a need for `eclipse` and `eclipse-wg` as root groups (just example paths rather than names, doesn't need to be that necessarily). In th

[2021-05-05 10:24] fredg02 commented on #137
It  boils down to the following requirements:
* we consider the projects-bot-api to be the single source of truth for (GitHub and GitLab) bot users
* the BotFix.js script should add and remove bot users to/from the project's committer teams based on the projects-bot-api
* the BotFix.js script should be run from a CI (or cluster) job, kicked off on a schedule (e.g. once a day/night) and manually on

[2021-05-05 12:58] autumnfound commented on #137
Much shorter than the sync script, likely not more than a few minutes, if that. I've done work to minimize calls and added caching so that we can work easily within the orgs. I can look into how long this takes to run later if you want more than a vague guess haha!

There's no real reason to add it to the sync script no. I might want to improve on the script to pull out some of the common stuff so

[2021-06-09 18:19] HailleySeed opened #187 "Being added to the Eclipse Page"
Hi there,
I am the new virtual events specialist and would like to please be added the eclipsefdn staff team on Github. Here is the link! https://api.eclipse.org/account/profile/hailleyseed

Thank you,
Hailley

[2021-06-09 18:20] chrisguindon commented on #187
@autumnfound Let's add @HailleySeed to our 3 orgs (eclipsefdn, jakartaee and openhwgroup).

Thanks

[2021-06-09 20:11] autumnfound commented on #159
I'd say that's a different request, as the PL's solution is to not overwrite when they have elevated permissions. We put a lot of trust in our PLs, and we can always walk it back by removing them. Allowing for standard committers to gain that permission level is a bit more dangerous, and we have no good way to provide or request access currently.

I'd argue that the best way to handle committers i

[2021-06-10 12:59] #187 closed

[2021-06-10 13:01] chrisguindon opened #189 "Remove Hudson on Friday from eclipsefdn-staff teams"
Since @hudsonkelly83 is leaving and his last day is Friday. Unfortunately, we need to remove him from the eclipsefdn-staff teams on Github.

[2021-06-10 14:43] fredg02 commented on #159
Implementing the handling of permissions for project leads and committers might be different, but in both cases it's not documented in the readme.md. => So from the documentation POV, it's related. :)

I 'd argue the same. It would keep things a lot simpler. I'm not sure if we can fight this though.

As a first step, unadjusted permissions would be good enough. The expiring can be handled by human

[2021-06-11 15:11] chrisguindon commented on #187
@autumnfound Can you take a look at this... I don't see Hailey in our EclipseFdn org..

[2021-06-11 15:13] chrisguindon commented on #187
@autumnfound Nevermind. I see her now, her invitation is still pending. It wasn't accepted yet.

[2021-06-18 14:26] autumnfound commented on #128
@chrisguindon do we qualify as Enterprise GH users or are we something else with open source licensing? If we are enterprise, we have special queues we can poke for this

[2021-06-21 12:42] chrisguindon commented on #128
Do you mean this https://github.com/enterprise?

If so, we don't have Github Enterprise.

[2021-06-22 16:37] mbarbero opened #191 "Support overriding default organization settings"
Currently, the script update org permissions based on https://github.com/EclipseFdn/eclipsefdn-github-sync/blob/fddcb4820699ee786a213f9a7aae7935346c516c/src/Sync.js#L63

Those default values are sensible for most org, but there are exceptions where we would want to not use those defaults.

We will need to be able to override those defaults (e.g., for [temurin-compliance](https://github.com/temurin

[2021-06-22 17:27] chrisguindon commented on #191
I think it will be simpler to track override via a static file in this repo.

@autumnfound What do you think?

[2021-06-23 13:15] autumnfound commented on #191
I think at this point, it depends on who we expect to manage this. If we are fine owning this as a very niche option it totally makes sense to keep it here as a static JSON. Otherwise, PMI would be best. The only other change I would make is to nest the option under organization_permissions so that if we ever want to extend this, it's an easy option to do so.

[2021-06-23 13:27] chrisguindon commented on #191
We don't really manage the concept of organization in the PMI. I think it's fine to own this with this project.

[2021-07-19 17:17] autumnfound opened #197 "Build failing on deploy to cluster step"
After cluster migration, pushed a fix to production branch, and the subsequent build failed: https://foundation.eclipse.org/ci/webdev/job/eclipsefdn-github-sync/job/production/28/console. This might be due to the previous credentials no longer being a valid set. @mbarbero WDYT?

[2021-07-19 18:46] mbarbero commented on #197
Yep, I updated the Jenkinsfile but at a single location:

https://github.com/EclipseFdn/eclipsefdn-github-sync/blob/ea128fc335748a76fa9f624eff4a4154b7ef314f/Jenkinsfile#L111

but of course it must be propagated to

https://github.com/EclipseFdn/eclipsefdn-github-sync/blob/ea128fc335748a76fa9f624eff4a4154b7ef314f/Jenkinsfile#L92

[2021-07-20 16:54] autumnfound opened #199 "Static team manager fails when a user is missing"
In recent runs of sync script, the tailend of the sync fails as the static team management section exits when a user is missing. Susan Iwai needs to be removed from the eclipsefdn team as she has recently retired and left the foundation.

This fix should encompass updating the static team and fixing the logic to be more resilient to failure.

[2021-07-20 16:58] #197 closed

[2021-08-19 18:47] chrisguindon opened #200 "Update to the EF staff static list"
@autumnfound Whenever you get a chance please add:

@PaulWhite-Eclipse
Eclipse Profile: https://api.eclipse.org/account/profile/pwhited3w

... and Remove:

1. siwai

[2021-08-20 15:05] #200 closed

[2021-08-30 10:04] fredg02 commented on #128
https://bugs.eclipse.org/bugs/show_bug.cgi?id=574879#c20 seems like a good reason why making the teams public is important. @autumnfound can you ping the GitHub community if there has been any progress regarding the missing API support for "Allow members to create teams"?

[2021-08-30 13:22] autumnfound commented on #128
At this point, there's not a lot I can realistically do for a follow-up. I can ping the forum post I had, but past that it would likely just be considered spam. As we are normal non-Enterprise users we don't have access to create support/feature request tickets. Looking into it briefly it seems to have not moved much though. I can do the ping I mentioned with that as context, but I don't think it

[2021-09-09 14:37] HailleySeed opened #203 "TheiaCon 2021 Website Creation"
Hi there,

We will require a new web page for the first ever TheiaCon Event on Nov 17. The CFP is already open but we would like if this webpage could be up as soon as your schedules permit, with the latest being Oct 8 please.

Here is the website content creation form: https://docs.google.com/document/d/1MxtCrfaQHd5LmGhxJAM1cErII_Fa_TDSt6cIb4HH9BI/edit?usp=sharing

Here is the file with the progr

[2021-09-10 19:11] autumnfound commented on #189
Hudson has been removed

[2021-09-10 19:11] #189 closed

[2021-09-10 19:48] autumnfound commented on #164
Looking into the API binding I use, they expose [expires_at](https://github.com/jdalrymple/gitbeaker/blob/1f0f4514f241626c73834256525d1e63c8eede16/packages/core/src/templates/ResourceMembers.ts#L21) which I think could be an important part of this implementation. So we have 2 options for this, one being much looser than the other.

1. We look at the `expires_at` setting on a project member, and ma

[2021-10-12 16:58] autumnfound opened #205 "Update Gitlab project pre-load to use group projects instead of all projects"
See https://gitlab.eclipse.org/eclipsefdn/gitlab/-/issues/71#note_243268 for details